##Folders
src/.ipynb_checkpoints/*
Benchmarks/.ipynb_checkpoints/*
OptimizationAlgorithms/.ipynb_checkpoints/*
docs/html
docs/latex

## doygen
*.html

## Other Files
*.bmp
*.jpg
*.png
*.pyc
*.fig
*.$$$


