##Folders
src/.ipynb_checkpoints/*
Benchmarks/.ipynb_checkpoints/*
Benchmarks/OptimizationAlgorithms/.ipynb_checkpoints/*
docs/html
docs/latex

## doygen
*.html

## Latex Files
*.bib
*.tex
*.gz
*.xml
*.log
*.out
*.blg
*.bcf
*.bbl
*.aux

## MatLab Files
*.mat
*.asv

## Other Files
*.bmp
*.jpg
*.pyc
*.fig
*.$$$



